<!-- @format -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'images/prepup1.png'%} >
		{% comment %} FONT INTEGRATION HERE {% endcomment %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap" rel="stylesheet">
		{% comment %} FONT INTEGRATION HERE {% endcomment %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		{% comment %} <title>PrepUp</title> {% endcomment %}
		<link rel="stylesheet" href="{% static 'styles/main.css' %}" />
	</head>
	<body>
		{% include 'navsidebar.html' %}  {% block content %} {% endblock content %} 
	</body>
</html>
